@import "tailwindcss";

html,
body {
  @apply bg-white dark:bg-gray-950;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: "Source Han Serif CN VF", serif;
  font-weight: "250 900";
}
